<h1 class="text-center">Sign Up</h1>
<form id="signupForm">
    <div class="name">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input (input)="onInput($event.target)" type="name" class="form-control" id="firstName" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input (input)="onInput($event.target)" type="name" class="form-control" id="lastName" placeholder="Enter Last Name">
        </div>
    </div>
    <div class="form-group">
      <label for="username">Username address</label>
      <input (input)="onInput($event.target)" type="username" class="form-control" id="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="signupEmail">Email address</label>
        <input (input)="onInput($event.target)" type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="password">
        <div class="form-group">
            <label for="signupPassword">Password</label>
            <input (input)="onInput($event.target)" type="password" class="form-control" id="signupPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Password</label>
            <input (input)="onInput($event.target)" type="password" class="form-control" id="confirmPassword" placeholder="Confirm">
        </div>
    </div>
    <button type="button" [disabled]="isDisabled" (click)="onSubmit($event)" class="btn btn-primary">Submit</button>
</form>