form#signupForm{
    margin-top: 2rem;
}
form#signupForm .name, form#signupForm .password{
    display: flex;
    justify-content: space-between;
}
form#signupForm .name > .form-group, form#signupForm .password > .form-group{
    width: 49%;
}
form#signupForm button{
    margin-top: 1rem;
}