<div id="top-nav">
    <div class="menu">
        <a href="#" class="active">
            <h1>Home</h1>
        </a>
    </div>
    <div class="auth">
        <button *ngIf="!isAuthed" href="" (click)="openToggle('login-modal')"><h1>Login</h1></button>
        <button *ngIf="!isAuthed" href="" (click)="openToggle('sign-up-modal')"><h1>Sign Up</h1></button>
        <button *ngIf="isAuthed" href="" (click)="logOut()"><h1>Logout</h1></button>
    </div>
</div>
<modal id="login-modal"></modal>
<modal id="sign-up-modal"></modal>