<h1 class="text-center">Login</h1>
<form id="loginForm" action="">
    <div class="form-group">
      <label for="loginEmail">Email address</label>
      <input (input)="onInput($event.target)" type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input (input)="onInput($event.target)" type="password" class="form-control" id="loginPassword" placeholder="Password">
    </div>
    <button [disabled]="isDisabled" type="button" (click)="onSubmit($event)" class="btn btn-primary">Submit</button>
</form>
