<section id="transaction-view" *ngIf="transactionView">
    <h2 class="text-left">{{transactionView.username}}</h2>
    <br>
    <h3 class="text-left">Amount: ${{transactionView.amount}}</h3>
    <br>
    <br>
    <h4>Message:</h4>
    <br>
    <p>{{transactionView.message}}</p>
    <div *ngIf="transactionView.is_canceled == '1'" class="canceled-trans-text">
        <p>This transaction has been canceled</p>
    </div>
    <div *ngIf="transactionView.username == getUsername()">
        <button [disabled]="canCancel() != true || transactionView.is_canceled == '1'" (click)="cancelTransaction(transactionView)" class="btn btn-primary cancel-trans">Cancel Transaction</button>
    </div>
</section>



