<div class="container transactions">
    <section (click)="openModal('transaction-view-modal', $event)">
        <div class="payment-info">
            <h3 class="username text-center">Random Username</h3>
            <h1 class="amount text-center">$100</h1>
        </div>
        <div class="message">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </section>
    <section (click)="openModal('transaction-view-modal', $event)">
        <div class="payment-info">
            <h3 class="username text-center">Menz Da Manz</h3>
            <h1 class="amount text-center">$50</h1>
        </div>
        <div class="message">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </section>
</div>
<modal id="transaction-view-modal">
    <view-transaction-modal [transactionView]="transactionViewData"></view-transaction-modal>
</modal>
