<div class="container transactions">
    <section *ngFor="let transaction of transactions let ind=index" (click)="openModal('transaction-view-modal', ind)">
        <div class="payment-info">
            <h3 class="username text-center">{{transaction.username}}</h3>
            <h1 class="amount text-center">${{transaction.amount}}</h1>
        </div>
        <div class="message">
            {{transaction.message}}
        </div>
    </section>
</div>
<modal id="transaction-view-modal">
    <view-transaction-modal [transactionView]="transactionViewData"></view-transaction-modal>
</modal>